/* MAIN STYLES */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: hsla(0, 0%, 98%, 0.856);
    /*background: #efefef;*/
    /*padding: 2em;*/
    font-weight: 300;
    font-size: 105%;
}

main {
    padding: 1em;
}

img {
    height: auto;
    width: 100%;
   /* margin-left: -50px; */
    
}

/* FIRST DIV 

#first-div {
    border: 1px solid black;
}*/

h1 {
    text-align: center;
    color: rgb(71, 62, 62);
    margin: 1em 1em 1.5em 1em;
    font-weight: 600;
    
    
}

#img-center {
    display: flex;
    justify-content: center;
}

#img-div {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 2em;
}

.box {
    padding: 1.5em;
    margin-bottom: 1em;
    border-radius: 10px;
    z-index: 2;
    line-height: 1.6;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background: white;
}  

.box h2 {
    
    /*color: #4abdac;*/
   /* text-align: center;*/
   margin-bottom: .2em;
   font-weight: 600;
   color: rgb(71, 62, 62);
}

span {
    font-weight: 600;
    color: rgb(71, 62, 62);
}

#bio-div {
    /*border-top: 3px solid #fc4a1a;*/
    /*background: #fc4a1a;*/
    
    
    border: 2px solid hsl(180, 62%, 55%);

    color: hsl(227, 5%, 32%);
}






/* SECOND DIV */

#summary-div {
   /* background: hsl(180, 62%, 55%);*/
   border: 2px solid hsl(34, 97%, 64%);
   color: hsl(227, 5%, 32%);
   
}

#third-div {
    border: 2px solid hsl(180, 62%, 55%);
    color: hsl(227, 5%, 32%);
}

.space {
    margin-bottom: 1em;
}

#form-div {
    color: #f4f4f4;
    background: #4abdac;
    line-height: 2.0;
    
}

#form-div h2 {
    text-align: center;
    
}

input {
    padding: .5em;
    margin-bottom: 1em;
    font-size: 120%;
    font-weight: 200;
    width: 100%;
    border-radius: 5px;
    /*background-color: hsl(204, 43%, 93%);*/
    background-color: #f4f4f4;
    border: 1px solid transparent;
}

button {
    width: 100%;
    background: hsl(34, 97%, 64%);
    color: #f4f4f4;
    padding: .5em 1em;
    border-radius: 5px;
    font-size: 130%;
    font-weight: 400;
    letter-spacing: .1em;
    border: 1px solid transparent;
    margin-top: .5em;
    background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border-bottom: solid 3px #c58668;
    text-transform: uppercase;
}

button:active{
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-bottom: none;
}


/*button:hover {
    color: hsl(34, 97%, 64%);
    background: #f4f4f4;
}*/

@media(min-width: 768px) {
   /* .box {
        width: 60%;
        margin: 1em auto;
    }*/

    #grid-div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 2em;
    }

    .box {
        margin-bottom: 2em;
    }

    #bio-div {
        grid-row: 1/2;
        grid-column: 1/2;
    }

    #summary-div {
        grid-row: 1/2;
        grid-column: 2;
    }

    #third-div {
        grid-row: 2;
        grid-column: 1/2;
    }

    #form-div {
        grid-row: 2;
        grid-column: 2/3;
        background: #f4f4f4;
        border: 2px solid hsl(34, 97%, 64%);
        color: hsl(227, 5%, 32%);
    }

    

    input {
        border: 1px solid hsl(34, 97%, 64%);
        background: white;
    }

    button:hover{
       background: #f4f4f4;
       color: hsl(34, 97%, 64%);
       border: 3px solid hsl(34, 97%, 64%);
    }

    button:active {
        transform: translateY(0px);
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
        border: 3px solid hsl(34, 97%, 64%);
    }
    
}



